nav {
  width: 300px;
  display: block;
  position: fixed;
  top: 110px;
  left: 20px;
  overflow: hidden;
  opacity: .2;
  transition: all .8s ease-out;

}
nav:hover {
  opacity: 1;
}
nav h2 {
  font-size: 17px;
  font-weight: bold;
}
nav a {
  text-decoration: none;
}
nav li {
  margin: 10px 0;
  font-size: 15px;
  line-height: 20px;
}
nav ul > ul {
  color: #777;
  margin-left: 10px;
}
